<div class="app-component">

    <h3>Products list</h3>

    <div [hidden]="dataState != 'DATA_COMPLETED'">
        
        <table class="table table-striped table-inverse">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Attribute</th>
                <th>Prod ID</th>
                <th>Attr ID</th>
                <th>Photos</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let product of productsList">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.attributeName}}</td>
                <td>{{product.productId}}</td>
                <td>{{product.attributeProductId}}</td>
                <td>{{product.productImagesArr.length}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="showProductDetails(product)">
                        View details
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="showShopProductPage(product)">
                        Product page
                    </button>
                </td>
            </tr>
        </table>

        <button type="button" class="btn btn-warning" (click)="getPrestaProductsByShopId()">
            Get MySQL products
        </button>
    </div>

    <div [hidden]="dataState != 'DATA_FAILED'">
        <span class="failureMessage">{{failureMsg}}</span>
    </div>

    <div [hidden]="dataState != 'DATA_LOADING'">
        Loading data.
    </div>
</div>