 <div class="app-component">
    <h3>Shops list</h3>

    <div [hidden]="dataState != 'DATA_COMPLETED'">

        <table class="table table-striped table-inverse">
            <tr>
                <th>ID</th>
                <th>Domain</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let shop of shopsList">
                <td>{{shop.id}}</td>
                <td>{{shop.domain}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="viewShop(shop)">
                        Products list
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-success" (click)="editShop(shop)">
                        Edit
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteShop(shop)">
                        Delete
                    </button>
                </td>

            </tr>
        </table>
        <button type="button" class="btn btn-warning" (click)="showNewShopForm()">Add new shop</button>
    </div>


    <div [hidden]="dataState != 'DATA_FAILED'">
        <span class="failureMessage">{{failureMsg}}</span>
    </div>

    <div [hidden]="dataState != 'DATA_LOADING'">
        Loading data.
    </div>

 </div>