/* You can add global styles to this file, and also import other style files */
/* Master Styles */
h1, h2 {
  color: #369;
}
h3, h4 {
  color: #396;
}
body {
  background-color: #222;
}

.app-component {
  margin: auto;
  width: 700px;
}

.failureMessage {
  color: #B00;
}



/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: #bbb;
}
